@model List<TRPO.Models.Flight>


@{
    await Html.RenderPartialAsync("Filters");
}


@{
    ViewData["Title"] = "Результат";
}
    
<table>
    <caption>Результат:</caption>
    <thead></thead>
</table>