@model AddingFlight
@{
    ViewData["Title"] = "Добавление рейса";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-controller="AddingFlight" asp-action="Check" class="adding_flight_container">
   @* <p>Дата</p>
    <input class="long_input" > </input>
    <p>Время вылета</p>
    <input class = "long_input"> </input>
    <p>Время прилета</p>
    <input class = "long_input"> </input>*@
    <p>Место вылета</p>
    <input class="long_input" asp-for="DeparturePoint"> </input>
    @*<span asp-validation-for="DeparturePoint"></span>*@
    <p>Место прилета</p>
    <input class="long_input" asp-for="PlaceOfArrival"> </input>
    <p>Номер первого пилота</p>
    <input class="long_input" asp-for="FirstPilot"> </input>
    <p>Номер второго пилота</p>
    <input class="long_input" asp-for="SecondPilot"> </input>
    <p>Номер самолета</p>
    <input class="long_input" asp-for="NumberPlane"> </input>
    <p></p>
</form>
