@model TRPO.Models.Flight
@{
    ViewData["Title"] = "Добавление рейса";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-controller="AddingFlight" asp-action="Check" class="adding_flight_container">
    <p>Дата</p>
    <input class="long_input" asp-for="Date" type ="Date"> </input>
    <span asp-validation-for="Date"></span>
    <p>Время вылета</p>
    <input class="long_input" asp-for="StartTime" type ="time"> </input>
    <span asp-validation-for="StartTime"></span>
    <p>Время прилета</p>
    <input class="long_input" asp-for="FinishTime" type ="time"> </input>
    <span asp-validation-for="FinishTime"></span>
    <p>Время прилета</p>
    <input class="long_input" asp-for="FinishTime" type ="time"> </input>
    <span asp-validation-for="FinishTime"></span>
    
        <select asp-for="FlightRoute">
            @{
                foreach(var route in TRPO.Models.Route.getAllRoutes())
                {
                    <option value="@route">@route.StartPoint - @route.FinishPoint</option>
                }
            }
        </select>
    </input>
    <button></button>
</form>
