@{
    ViewData["Title"] = "Добавление рейса";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class = "adding_flight_container">
    <p>Дата</p>
    <input class = "long_input"> </input>
    <p>Время вылета</p>
    <input class = "long_input"> </input>
    <p>Время прилета</p>
    <input class = "long_input"> </input>
    <p>Место вылета</p>
    <input class = "long_input"> </input>
    <p>Место прилета</p>
    <input class = "long_input"> </input>
    <p>Номер первого пилота</p>
    <input class = "long_input"> </input>
    <p>Номер второго пилота</p>
    <input class = "long_input"> </input>
    <p>Номер самолета</p>
    <input class = "long_input"> </input>
    <p></p>
    <button class="search_button">Добавить</button>
</div>
