@model TRPO.Models.Plane
@{
	<form method = "post" asp-controller="Plane" asp-action="Check">
		<div>
			<p>Название самолета</p>
			<input class = "short_input"asp-for="Type"> 
			<span asp-validation-for="Type"></span>
		</div>
		<div>
			<p>Количество мест</p>
			<input class = "short_input"asp-for="NumberOfSeats"> 
			<span asp-validation-for="NumberOfSeats"></span>
		</div>
		<div>
			<p>Максимальная дальность полета</p>
			<input class = "short_input"asp-for="MaxFlightRange"> 
			<span asp-validation-for="MaxFlightRange"></span>
		</div>
		<div>
			<p>Расход топлива</p>
			<input class = "short_input"asp-for="FuelConsumtion"> 
			<span asp-validation-for="FuelConsumtion"></span>
		</div>
		<button>Добавить</button>
	</form>
}