@model TRPO.Models.SignInVewModel
@{
    ViewData["Title"] = "Вход";
}
<form method="post" asp-controller="SignIn" asp-action="Check" class="sign_in_container">
    <p>E-mail</p>
    <input asp-for="Email">
    <p>Пароль</p>
    <input asp-for="Password" type="password">
    <p>@ViewBag.message</p>
    <button class="sign_in_button">Вход</button>
</form>