@model Passanger
@{
    ViewData["Title"] = "Вход";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-controller="SignIn" asp-action="Check" class="sign_in_container">
    <p>E-mail</p>
    <input class="short_input" asp-for="Email"> </input>
    <p>Пароль</p>
    <input class="short_input" asp-for="Password"> </input>
    <button class="sign_in_button">Вход</button>
</form>

