@{
    ViewData["Title"] = "Регистрация";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class = "sign_in_container">
    <p>Имя</p>
    <input class = "short_input"> </input>
    <p>Фамилия</p>
    <input class = "short_input"> </input>
    <p>Пароль</p>
    <input class = "short_input"> </input>
    <p>Телефон</p>
    <input class = "short_input"> </input>
    <p>Серия паспорта</p>
    <input class = "short_input"> </input>
    <p>Номер паспорта</p>
    <input class = "short_input"> </input>
    <p>Гражданство</p>
    <input class = "short_input"> </input>
    <button class = "sign_in_button">Зарегистрироваться</button>
</div>
