@model TRPO.Models.User
@{
    ViewData["Title"] = "Регистрация";
}

<form method = "post" asp-controller="SignUp" asp-action="Check" class = "sign_in_container">
    <div class="input_item_container">
        <p>Имя</p>    
        <input class = "short_input" asp-for="Name"> 
        <span asp-validation-for="Name"></span>
    </div>
    <div class="input_item_container">
        <p>Фамилия</p>
        <input class = "short_input" asp-for="Surname"> 
        <span asp-validation-for="Surname"></span>
    </div>
    <div class="input_item_container">
        <p>Email</p>
        <input class = "short_input" asp-for="Email"> 
        <span asp-validation-for="Email"></span>
    </div>
    <div class="input_item_container">
        <p>Пароль</p>
        <input class = "short_input" type="password" asp-for="Password"> 
        <span asp-validation-for="Password"></span>
    </div>
    <div class="input_item_container">
        <p>Повторите пароль</p>
        <input class = "short_input" type="password" name="Password_repeat">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="input_item_container">
        <p>Телефон</p>
        <input class = "short_input"asp-for="Telephone" type="Phone"> 
        <span asp-validation-for="Telephone"></span>
    </div>
    <div class="input_item_container">
        <p>Серия паспорта</p>
        <input class = "short_input" asp-for="PassportSeries" placeholder="http://www.example.com" />
        <span asp-validation-for="PassportSeries"></span>
    </div>
    <div class="input_item_container">
        <p>Номер паспорта</p>
        <input class = "short_input"asp-for="PassportNumber"> 
        <span asp-validation-for="PassportNumber"></span>
    </div>
    <div class="input_item_container">
        <p>Гражданство</p>
        <input class = "short_input"asp-for="Nationality"> 
        <span asp-validation-for="Nationality"></span>
    </div>
    <div class="input_item_container">
        <p>Дата рождения</p>
        <input class = "short_input"asp-for="DateOfBirth" type="Date"> 
        <span asp-validation-for="DateOfBirth"></span>
    </div>
    <button class = "sign_in_button">Зарегистрироваться</button>
</form>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}