@{
    ViewData["Title"] = "Билеты";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="table_header">
    <p>Цена за ед.</p>
    <p>Кол-во</p>
    <p>Итого</p>
</div>

<div class="ticket_item">
    <div class= "prices">
        <button>Покупка</button>
        <p>Билет № 1</p>
        <p>100</p>
        <p>1</p>
        <p>100</p>
    </div>
    <div class="waypoints">
        <p>Минск</p>
        <p>Москва</p>
    </div>
</div>
