@using TRPO.mocks
@{
    ViewData["Title"] = "Билеты";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    MockTickets tickets = new MockTickets();
    var Tickets = tickets.Tickets;
    foreach(var ticket in Tickets)
    {
        <div class="ticket_item">
            <div calss="upper_row">
                <div class="prices">
                    <p>Билет № @ticket.TicketId</p>
                    <p>Цена за один: @ticket.Price</p>
                </div>
            </div>
            <div class="waypoints">
                <p>Откуда: </p>
                <p>Куда: Москва</p>
            </div>
        </div>
    }


}

