@*@model 

<div class="ticket_item">
    <button>Покупка</button>
    <div calss = "upper_row">
        <div class= "prices">
            <p>Билет № 1</p>
            <p>Цена за один: 100</p>
            <p>Количество: 1</p>
            <p>Итого: 100</p>
        </div>
    </div>
    <div class="waypoints">
        <p>Откуда: Минск</p>
        <p>Куда: Москва</p>
    </div>
</div>*@