@{
    ViewData["Title"] = "Главная";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


 
<div class="flight_item">
        <p>Номер рейса</p>
        <p>Место вылета</p>
        <p>Место прилета</p>
        <p>Дата вылета</p>
        <p>10.10.2022</p>
        <p>Время вылета </p>
        <p>19:30</p>
        <p>Время прилета:</p>
        <p>22:30</p>
</div>
<div class="flight_item">
        <p>Номер рейса</p>
        <p>Место вылета</p>
        <p>Место прилета</p>
        <p>Дата вылета</p>
        <p>10.10.2022</p>
        <p>Время вылета </p>
        <p>19:30</p>
        <p>Время прилета:</p>
        <p>22:30</p>
</div>
<div class="flight_item">
        <p>Номер рейса</p>
        <p>Место вылета</p>
        <p>Место прилета</p>
        <p>Дата вылета</p>
        <p>10.10.2022</p>
        <p>Время вылета </p>
        <p>19:30</p>
        <p>Время прилета:</p>
        <p>22:30</p>
</div>
<div class="flight_item">
        <p>Номер рейса</p>
        <p>Место вылета</p>
        <p>Место прилета</p>
        <p>Дата вылета</p>
        <p>10.10.2022</p>
        <p>Время вылета </p>
        <p>19:30</p>
        <p>Время прилета:</p>
        <p>22:30</p>
</div>
<div class="flight_item">
        <p>Номер рейса</p>
        <p>Место вылета</p>
        <p>Место прилета</p>
        <p>Дата вылета</p>
        <p>10.10.2022</p>
        <p>Время вылета </p>
        <p>19:30</p>
        <p>Время прилета:</p>
        <p>22:30</p>
</div>
<div class="flight_item">
        <p>Номер рейса</p>
        <p>Место вылета</p>
        <p>Место прилета</p>
        <p>Дата вылета</p>
        <p>10.10.2022</p>
        <p>Время вылета </p>
        <p>19:30</p>
        <p>Время прилета:</p>
        <p>22:30</p>
</div>
<div class="flight_item">
        <p>Номер рейса</p>
        <p>Место вылета</p>
        <p>Место прилета</p>
        <p>Дата вылета</p>
        <p>10.10.2022</p>
        <p>Время вылета </p>
        <p>19:30</p>
        <p>Время прилета:</p>
        <p>22:30</p>
</div>
<div class="flight_item">
        <p>Номер рейса</p>
        <p>Место вылета</p>
        <p>Место прилета</p>
        <p>Дата вылета</p>
        <p>10.10.2022</p>
        <p>Время вылета </p>
        <p>19:30</p>
        <p>Время прилета:</p>
        <p>22:30</p>
</div>
<div class="flight_item">
        <p>Номер рейса</p>
        <p>Место вылета</p>
        <p>Место прилета</p>
        <p>Дата вылета</p>
        <p>10.10.2022</p>
        <p>Время вылета </p>
        <p>19:30</p>
        <p>Время прилета:</p>
        <p>22:30</p>
</div>
<div class="flight_item">
        <p>Номер рейса</p>
        <p>Место вылета</p>
        <p>Место прилета</p>
        <p>Дата вылета</p>
        <p>10.10.2022</p>
        <p>Время вылета </p>
        <p>19:30</p>
        <p>Время прилета:</p>
        <p>22:30</p>
</div>
<div class="flight_item">
        <p>Номер рейса</p>
        <p>Место вылета</p>
        <p>Место прилета</p>
        <p>Дата вылета</p>
        <p>10.10.2022</p>
        <p>Время вылета </p>
        <p>19:30</p>
        <p>Время прилета:</p>
        <p>22:30</p>
</div>
<div class="flight_item">
        <p>Номер рейса</p>
        <p>Место вылета</p>
        <p>Место прилета</p>
        <p>Дата вылета</p>
        <p>10.10.2022</p>
        <p>Время вылета </p>
        <p>19:30</p>
        <p>Время прилета:</p>
        <p>22:30</p>
</div>
<div class="flight_item">
        <p>Номер рейса</p>
        <p>Место вылета</p>
        <p>Место прилета</p>
        <p>Дата вылета</p>
        <p>10.10.2022</p>
        <p>Время вылета </p>
        <p>19:30</p>
        <p>Время прилета:</p>
        <p>22:30</p>
</div>
