.dropdown_content_name {
    padding-top: 0px;
    color: black;
    padding: 8px ;
    float:left;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_content_email {
    color: black;
    padding: 8px;
    font-size: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown
{
    display: inline-block;
}

.dropdown-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10000;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: underline;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}





header {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #35C7BE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_inner {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    padding-left: 10%;
    color: #FFFFFF;
}





.nav {
    padding-right: 10%;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #FFFFFF;
}


main
{
    /*margin-top:60px;*/
    width:100%;
    margin: 60px 0;
}

body{
    margin: 0 0;
}


@media all and (max-width: 480px)
{
    html 
    {
        font-size: 11px;

    }
    
}

@media all and (max-width: 1920px) {
    html {
        font-size: 12px;
    }
}



