@{
    ViewData["Title"] = "Фильтры";
}

<form method="post" asp-controller="Filters" asp-action="Resault">
    

    <div class="filters_line">
        <p>Дата</p>
        <p>От:<input class="short_input" name="StartDate" type="Date"></p>
        <p>До:<input class="short_input" name="FinishDate" type="Date"></p>
    </div>
    <div class="filters_line">
        <p>Метсо</p>
        <p>Куда:<input class="long_input" name="FinishPoint"></p>
    </div>
    <button class="search_button">
        Найти
    </button >
</form>