@{
    ViewData["Title"] = "Фильтры";
}
@*
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="post" asp-controller="Filters" asp-action="Resault">
    

    <div class="filters_line">
        <p>Дата</p>
        <p>От:<input class="short_input" name="StartDate" type="Date"> </input></p>
        <p>До:<input class="short_input" name="FinishDate" type="Date"> </input></p>
    </div>
    <div class="filters_line">
        <p>Метсо</p>
        <p>Куда:<input class="long_input" name="FinishPoint"> </input></p>
    </div>
    <button class="search_button">
        Найти
    </button >
</form>
